<%- include( 'layout/_header', {title: 'トップページ'} ); %>
  <div class="container">
    <h1 class="text-center">bashotori トップ</h1>
    <p><a href="/zoushigaya">雑司が谷文化創造館</a></p>
    <p><a href="/koto-ku">江東区</a></p>
    <p><a href="/sumida-ku">墨田区</a></p>
  </div>
<%- include( 'layout/_footer' ); %>
